fastapi
uvicorn[standard]
sqlalchemy
alembic
mysql-connector-python
python-dotenv
passlib
bcrypt==4.0.1
python-jose[cryptography]
# --- Celery Client Dependencies ---
celery
redis
python-decouple
# --- FILE UPLOAD & SFTP ---
python-multipart
paramiko

# --- C++ Engine HTTP Client ---
requests